<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>安徽省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>合肥骆岗</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>黄山屯溪</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>安庆天柱山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>阜阳西关</string>
		</dict>
	</array>
	<key>湖北省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>武汉天河</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>宜昌三峡</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>荆州沙市</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>襄樊刘集</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>恩施许家坪</string>
		</dict>
	</array>
	<key>重庆市</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>重庆江北</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>万州五桥</string>
		</dict>
	</array>
	<key>北京市</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>北京首都</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>北京南苑</string>
		</dict>
	</array>
	<key>云南省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>昆明巫家坝</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>丽江三义</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>德宏芒市</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>保山云端</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>迪庆香格里拉</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>西双版纳机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>文山普者黑</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>大理机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>思茅机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>临沧机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>昭通机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>腾冲驼峰机场</string>
		</dict>
	</array>
	<key>西 藏</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>拉萨贡嘎</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>昌都邦达</string>
		</dict>
	</array>
	<key>新 疆</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>乌鲁木齐地窝铺</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>阿克苏温宿</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>喀什机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>伊宁机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>塔城机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>阿尔泰机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>库车机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>且末机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>和田机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>库尔勒机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>那拉提机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>富蕴机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>吐鲁番机场</string>
		</dict>
	</array>
	<key>天津市</key>
	<array>
		<dict>
			<key>id</key>
			<string>0531</string>
			<key>name</key>
			<string>天津滨海</string>
		</dict>
	</array>
	<key>广东省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>广州白云</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>深圳宝安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>珠海三灶</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>汕头外砂</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>湛江机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>梅县机场</string>
		</dict>
	</array>
	<key>河北省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0871</string>
			<key>name</key>
			<string>石家庄正定</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0998</string>
			<key>name</key>
			<string>秦皇岛山海关</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0378</string>
			<key>name</key>
			<string>邯郸机场</string>
		</dict>
	</array>
	<key>广西省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>南宁吴圩</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>桂林两江</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>柳州白莲</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>北海福城</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>梧州长洲岛</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>百色机场</string>
		</dict>
	</array>
	<key>贵州省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>贵阳龙洞堡</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>铜仁大兴</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>安顺黄果树</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>兴义机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>黎平机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>荔波机场</string>
		</dict>
	</array>
	<key>山西省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0931</string>
			<key>name</key>
			<string>太原武宿</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0891</string>
			<key>name</key>
			<string>大同怀仁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0518</string>
			<key>name</key>
			<string>长治王村</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0579</string>
			<key>name</key>
			<string>运城关公</string>
		</dict>
	</array>
	<key>海南省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0371</string>
			<key>name</key>
			<string>海口美兰</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0511</string>
			<key>name</key>
			<string>三亚凤凰</string>
		</dict>
	</array>
	<key>内蒙古</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>呼和浩特白塔</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>海拉尔东山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>赤峰土城子</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>满洲里西郊</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>乌兰浩特机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>锡林浩特机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>乌海机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>包头二里半</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>通辽机场</string>
		</dict>
	</array>
	<key>山东省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>济南遥墙</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>青岛流亭</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>威海大水泊</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>烟台莱山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>临沂沐埠岭</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>潍坊南苑</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>东营永安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>济宁机场</string>
		</dict>
	</array>
	<key>湖南省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>长沙黄花</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>张家界荷花</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>常德桃花源</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>永州零陵</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>怀化芷江</string>
		</dict>
	</array>
	<key>辽宁省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>沈阳桃仙</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>大连周水子</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>锦州小岭子</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>丹东浪头</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>朝阳机场</string>
		</dict>
	</array>
	<key>浙江省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>杭州萧山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>宁波栎社</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>温州永强</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>舟山普陀山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>黄岩路桥</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>衢州机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>义乌机场</string>
		</dict>
	</array>
	<key>河南省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>郑州新郑</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>洛阳北郊</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>南阳姜营</string>
		</dict>
	</array>
	<key>四川省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>成都双流</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>泸州蓝田</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>九寨沟黄龙</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>攀枝花保安营</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>南充高坪</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>宜宾莱坝</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>绵阳南郊</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>西昌青山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>广元盘龙</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>达州河市</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>康定机场</string>
		</dict>
	</array>
	<key>吉林省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0879</string>
			<key>name</key>
			<string>长春龙嘉</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0812</string>
			<key>name</key>
			<string>延吉朝阳川</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0427</string>
			<key>name</key>
			<string>长白山机场</string>
		</dict>
	</array>
	<key>上海</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>上海虹桥</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>上海浦东</string>
		</dict>
	</array>
	<key>黑龙江</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>哈尔滨太平</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>齐齐哈尔三家子</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>佳木斯东郊</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>牡丹江海浪</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>黑河机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>漠河机场</string>
		</dict>
	</array>
	<key>甘肃省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>兰州中川</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>敦煌机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>嘉峪关机场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>庆阳机场</string>
		</dict>
	</array>
	<key>福建省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>福州长乐</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>厦门高崎</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>泉州晋江</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>龙岩冠豸山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>武夷山机场</string>
		</dict>
	</array>
	<key>青海省</key>
	<array>
		<dict>
			<key>id</key>
			<string>021</string>
			<key>name</key>
			<string>西宁曹家堡</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0311</string>
			<key>name</key>
			<string>格尔木机场</string>
		</dict>
	</array>
	<key>江西省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>南昌昌北</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>赣州黄金</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>九江庐山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>景德镇罗家</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>井冈山机场</string>
		</dict>
	</array>
	<key>宁 夏</key>
	<array>
		<dict>
			<key>id</key>
			<string>0351</string>
			<key>name</key>
			<string>银川河东</string>
		</dict>
	</array>
	<key>江苏省</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>南京禄口</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>南通兴东</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>无锡硕放</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>常州奔牛</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>徐州观音</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>盐城南洋</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>连云港白塔埠</string>
		</dict>
	</array>
</dict>
</plist>
